[Desktop Entry]
Name=FLauncher
Comment=VoxelCore Launcher
Exec=flauncher
Icon=flauncher
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=FLauncher
